/* navbar responsive styles */
@media screen and (max-width: 576px){
      .menu-container, .menu{
        flex-direction: column;
      }
      .menu{
        margin-top: 30px;
      }
      .banner-container{
        flex-direction: column;
        flex-direction: row-reverse;
      }
}