/* work sans google font link */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@500;600&family=Lato:wght@400;700;900&family=Noto+Sans+Bengali:wght@400;500;600&family=Open+Sans:ital,wght@0,500;0,600;0,700;1,400;1,800&family=Poppins:wght@600;700&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    font-family: 'Hind', sans-serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* shared css */
.btn-primary{
    background-color: #FF42A5;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    margin-top: 20px;
}
.btn-2{
    background-color: #4EC5F7;
    margin-left: 8px;
}
.btn-primary a{
    color: #FFF;
}
/* header */
/* navbar css */
header{
    background-color: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.menu-container{
    display: flex;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 20px;
}
.logo-container{
    display: flex;
    align-items: center;
    /* width: 50%; */
}
.logo-container img{
    width: 50px;
}
.logo-container .logo-text{
    font-size: 1.6rem;
    font-weight: 700;
    margin-left: 15px;
}
.logo-G{
    color:   #FF42A5;
}

ul li{
    list-style: none;
}
.menu{
    display: flex;
    align-items: center;
    /* width: 50%; */
    gap: 40px;
}
.menu li, a{
    text-decoration: none;
    color: #3C354F;
    font-size: 0.9rem;
    font-weight: 500;
}
.menu .follow-menu{
    background-color: rgba(11, 2, 35, 0.10);
    border-radius: 5px;
    padding: 10px;
}
.follow-menu i{
    color: #F61C0D;
}
/* banner styles css */
.banner-container{
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    gap: 48px;
}
.banner-text{
    width: 48%;
    padding-top: 100px;
}
.banner-img{
    width: 48%;
}
.banner-text ul li{
    margin-top: 10px;
    list-style: none;
    color: #534C64;
    font-weight: 500;
    font-size: 0.8rem;
}
.banner-text p{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.banner-text h2{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}
.banner-text i{
    color: #FF42A5;
    margin-right: 8px;
}
.banner-img img{
    width: 100%;
    height: auto;
}
/* games-video section css */
.games-container{
    max-width: 1000px;
    margin: 50px auto;
}
.games-container h2{
    color: #0B0223;
    font-size: 1.5rem;
    font-weight: 700;
}
.games-container .funny-video{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}
.games-title{
   text-align: center;
   margin-bottom: 30px;
}
.games-card{
    display: flex;
    gap: 10px;
}
.game-card{
    width: 25%;
}
.game-card img{
    width: 100%;
    height: 80%;
}
.games-container, .game-card p{
    margin-top: 10px;
    color: #534C64;
    font-size: 0.9rem;
}
/* download section css */
.download-container{
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    gap: 40px;
}
.download-text{
    width: 48%;
    border: 1px solid red;
}
.download-img{
    width: 48%;
    border: 1px solid green;
}
.download-img img{
    width: 100%;
}